@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

div {
	position: relative;
	margin: 0 auto;
	padding: 0;
	letter-spacing: 0;
	box-sizing: border-box;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 12px;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
nav,
span,
section,
ul,
li,
input,
form {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: #E5E5E5;
}

.container {
	max-width: 621px;
    margin: auto;
    padding: 10px;
    background-color: #fff;
}

/* .container{
    width: 364px;
    height: 582px;
} */

.d-flex {
    display: flex;
}

.weather__wrapper {
    /* max-width: 600px; */
    margin: auto;
    border: solid 2px #000;
    height: 435px;
}

.search {
    border-bottom: solid 2px #000;
}

.button {
    background: none;
    border: none;
}

.inputCity {
    border: none;
    font-size: 16px;
    padding-left: 15px;
    width: 100%;
}

input {
    outline:none;
}


.weather__form {
    align-items: center;
    justify-content: space-between;
}

.weather__info {
    height: 395px;
}


.temperature {
    font-size: 70px;
    margin-left: 12px;
    padding-top: 13px;
}

.degree__symbol {
    margin-left: -15px;
}

.weather_icon {
    display: flex;
    margin: auto;
}

.addToFavority {
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}

.cityName {
    font-size: 24px;
    margin-left: 10px;
}

.addToFavorityButton {
    margin-right: 10px;
}

.weather__details {
    width: 50%;
}

/* 
*********************
*********************
 */


.tabs {
    font-size: 0;
  }

  .tabs>input[type="radio"] {
    display: none;
  }

  .tabs>div {
    /* скрыть контент по умолчанию */
    display: none;
    padding: 10px 15px;
    font-size: 16px;
  }

  /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
  #tab-btn-1:checked~#Now,
  #tab-btn-2:checked~#Details,
  #tab-btn-3:checked~#Forecast {
    display: block;
  }

  .tabs>label {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #f5f5f5;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    font-size: 16px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
    cursor: pointer;
    position: relative;
    top: 1px;
  }

  .tabs>label:not(:first-of-type) {
    border-left: none;
  }

  .tabs>input[type="radio"]:checked+label {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

/* 
**********************
**********************
***********************
 */

.locationList {
    overflow: auto;
    max-height: 320px;
}

.locationList::-webkit-scrollbar {
    width: 8px;              
}
.locationList::-webkit-scrollbar-track {
    background: #E5E5E5;      
}
.locationList::-webkit-scrollbar-thumb {
    background-color: gray;  
    border-radius: 20px;      
}

.added__locations {
    width: 50%;
    border-left: solid 2px #000;
}

.added_Title {
    border-bottom: solid 2px #000;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
}

.location__name {
    font-size: 20px;
    margin-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}